.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-links a {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-decoration: none;
    font-size: 1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background: var(--jaune-fonce);
    min-width: 12rem;
    border-radius: 0 0 0.6rem 0.6rem;
    padding: 0.6rem 0;
}
.dropdown-content li a {
    color: var(--color-white);
    padding: 0.6rem 1.5rem;
    font-size: 0.8rem;
    display: block;
}
.dropdown-content li a:hover {
    color: var(--color-black);
    background: var(--jaune-fonce);
}
.dropdown:hover .dropdown-content {
    display: block;
}