.root{
     --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
    --jaune-fonce : #9c9b32;
    --beige: #f6f5ed;
    --vert : #605f1d;
}

.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.landing__title {
    color: var(--color-white);
    font-size: 3rem;
}

.landing__link {
    display: flex;
    gap: 1.5rem;
}

.landing__card {
    text-decoration: none;
    padding: 1.5rem 3rem;
    font-weight: bold;
    transition: 0.2s;
    border: 2px solid black;
    background: var(--jaune-fonce);
    border-color: var(--jaune-fonce);
    color: black;
}



.landing__card:hover {
    opacity: 0.9;
    background-color: var(--vert);
}