.body{
    background-color:var(--bg) ;
}
.navbar {
    display: flex;

    align-items: center;
    background: #141414;
    border-color: var(--color-white);
    padding: 0 2rem;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1.8rem; 
}

.nav-link {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.dropdown {
    position: relative;
    height: 4rem;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 3.75rem;
    left: 0;
    background: var(--color-black);
    min-width: 10rem; 
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
    border: 0.06rem solid var(--color-gray);
    z-index: 10000;
}

.menu-right {
    right: 0;
    left: auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    color: var(--color-white);
    padding: 0.75rem 1.25rem;
    display: block;
    text-decoration: none;
    font-size: 0.85rem;
}

.dropdown-menu li a:hover {
    background: var(--jaune-clair);
    color: var(--color-black);
}

#nav-avatar {
    width: 2rem; 
    height: 2rem;
    border-radius: 1rem;
    object-fit: cover;
}

.search {
    margin-left: 10rem;
    margin-left: 10rem;
    background-color: var(--bg);
    border: 0.1rem solid var(--bordure-grise);
    color: var(--beige);
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    outline: none;
    width: 14rem;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    margin: 0 1rem;
}

.search:focus {
    border-color: var(--jaune);
    width: 18rem;
    box-shadow: 0 0 0.5rem var(--jaune-fonce);
}

.search::placeholder {
    color: var(--bordure-grise);
    opacity: 0.6;
}