<nav class="navbar">
    <div class="nav-left">
        <a href="#" class="nav-link" onclick="C.handlerMovie()">Accueil</a>
        <a href="#" class="nav-link" onclick="C.handlerMyList()">Ma liste</a>
        
        <div class="dropdown">
            <a href="#" class="nav-link">Catégories</a>
            <ul id="dropdown-categories" class="dropdown-menu">
                </ul>
        </div>
    </div>

<div class="nav-right">
    <div class="dropdown">
        <div class="profile-trigger">
            <img id="nav-avatar" src="../server/images/Profile/profil.jpg" alt="Avatar">
        </div>
        <ul id="dropdown-profiles" class="dropdown-menu menu-right"></ul>
    </div>
</div>
</nav>