<div class="form-container_profil">
<h2 id="form-title">Ajouter un profil utilisateur</h2>
   


<form id="form-add-profile">
<input type="hidden" name="id" value="">


        <div class="form-profil">
            <label>Nom du profil :</label>
            <input type="text" name="name" placeholder="Ex: Jean Dupont" required />
        </div>

        <div class="form-profil">
            <label>Avatar (URL) :</label>
            <input type="text" name="avatar" placeholder="http://image.jpg (facultatif)" />
        </div>

        <div class="form-profil">
            <label>Âge:</label>
            <input type="number" name="age" value="0" min="0" />
        </div>

        <button type="submit" class="btn-submit">Créer le profil</button>
    </form>
</div>