<form id="add-movie-form" class="movie-form">
    <h2>Ajouter un nouveau film</h2>
    
    <div class="form-group">
        <label>Titre du film :</label>
        <input type="text" name="name" placeholder="Ex: Inception">
    </div>

    <div class="form-group">
        <label>Réalisateur :</label>
        <input type="text" name="director" placeholder="Ex: Christopher Nolan">
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Année :</label>
            <input type="number" name="year" placeholder="2024">
        </div>
        <div class="form-group">
            <label>Durée (min) :</label>
            <input type="number" name="length" placeholder="120">
        </div>
    </div>

    <div class="form-group">
        <label>Description :</label>
        <textarea name="description" rows="3"></textarea>
    </div>

<div class="form-group">
    <label>Catégorie :</label>
    <select name="id_category" id="select-category">
        </select>
</div>

    <div class="form-group">
        <label>Nom du fichier image (ex: film.jpg) :</label>
        <input type="text" name="image" required placeholder="image.jpg">
    </div>
        <div class="form-group">
        <label>Nom du fichier image_banner (ex: film_banner.jpg) :</label>
        <input type="text" name="image_banner" required placeholder="image_banner.jpg">
    </div>

    <div class="form-group">
        <label>URL Trailer (YouTube) :</label>
        <input type="url" name="trailer" placeholder="https://youtube.com/...">
    </div>

    <div class="form-group">
        <label>Âge minimum :</label>
        <input type="number" name="min_age" placeholder="12">
    </div>

    <button type="submit" class="btn-submit">Enregistrer le film</button>
</form>